<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cornedu.api.auth.mapper.PasswordResetMapper">

    <insert id="insert">
        INSERT INTO tbl_password_reset (member_id, token, expires_at) VALUES (#{memberId}, #{token}, #{expiresAt})
    </insert>

    <select id="findMemberIdByToken" resultType="string">
        SELECT member_id FROM tbl_password_reset WHERE token = #{token} AND used = 0 AND expires_at > NOW()
    </select>

    <update id="markUsed">
        UPDATE tbl_password_reset SET used = 1 WHERE token = #{token}
    </update>

    <delete id="deleteExpired">
        DELETE FROM tbl_password_reset WHERE expires_at &lt; NOW() OR used = 1
    </delete>

</mapper>
